###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=0920f37327e126427593d682a19c7395
###< symfony/framework-bundle ###

###> symfony/lock ###
LOCK_DSN=flock
###< symfony/lock ###

###> Database Settings ###
DATABASE_URL="mysql://app:secret@mysql:3306/sevens-time"
###< Database Settings ###

###> Folders Settings ###
PUBLIC_FOLDER=/app/public
PATH_TRANSLATIONS=/storage/files/translations
PATH_HELP_TRANSLATIONS=/storage/files/help-translations
PATH_LANGUAGE_FLAGS=/storage/images/language-flags
PATH_CATEGORY_LOGOS=/storage/images/category-logos
PATH_MATERIALS=/storage/files/materials
###< Folders Settings ###

###> Blockchain Settings ###
ANCHOR_PROVIDER_URL=https://api.devnet.solana.com
SEVENS_TOKEN_IDL_PATH=https://sevenstime.local/storage/files/sevens_token.json
SEVENS_TOKEN_MANAGEMENT_IDL_PATH=https://sevenstime.local/storage/files/sevens_token_management.json
COLLECTION_MINT_PUBLIC_KEY=91G9KcYSU7sGvpDz8LiaqqwceHB5RqkbHgtM7iZzqATd
###< Blockchain Settings ###

###> AWS S3 Settings ###
AWS_S3_BUCKET_URL=https://your-bucket-name.s3.amazonaws.com
###< AWS S3 Settings ###

###> facebook oauth ###
FACEBOOK_CLIENT_ID=clientID
FACEBOOK_CLIENT_SECRET=clientSecret
###< facebook oauth ###

###> node server ###
NODE_ENV=development
NONCE_EXPIRATION_MIN=15
NODE_SERVER_PORT=3000
NODE_SERVER_BASE_URL=http://sevenstime-node-server:3000
NODE_SERVER_SEVENS_TOKEN_IDL_PATH=/app/public/storage/files/sevens_token.json
NODE_SERVER_SEVENS_TOKEN_MANAGEMENT_IDL_PATH=/app/public/storage/files/sevens_token_management.json
###< node server ###

###> websocket configuration ###
# WebSocket URL for solana-usd rate (node-server connects as client to this)
EXCHANGER_WEBSOCKET_URL=wss://stream.binance.com:9443/ws/solusdt@ticker
###< websocket configuration ###

###> publication ###
# Allowment period for publishing material after token mint without wallet confirm signature.
# After that period user can publish only after wallet comfirmation.
ALLOWED_PUBLISHING_TIME_WITHOUT_SIGNATURE_MINUTES=15
# Max container size for decompressing to the memory. Bigger size we decompress to the disk.
BROWSER_FILE_MEMORY_DECOMPRESSION_LIMIT=104857600
###< publication ###

###> Webpack ###
WEBPACK_DEV_SERVER_ALLOWED_HOSTS=sevenstime.local,localhost,.local
###< Webpack ###
